*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-litle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-litle .logo-box {
  width: 5rem;
  border-radius: 5px;
  background: #f0542c;
  text-align: center;
}

.nav-litle .logo-box .logo {
  width: 3.5rem;
  width: 3rem;
}

.nav-litle .nav-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.5rem;
  color: #ffffff;
}

.navlinks {
  list-style: none;
  background: #ffffff;
  margin: .8rem 2rem;
}

.navlinks li {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navlinks li:hover {
  background: #333333;
}

.navlinks li:hover a {
  padding-left: 3rem;
  color: #f0542c;
}

.navlinks a {
  padding: .7rem;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #333333;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header {
  background: url("../images/headerbcg-1.jpg") center/cover fixed no-repeat;
  width: 100%;
  height: 100vh;
}
