.nav-litle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-litle .logo-box {
  width: 5rem;
  border-radius: 5px;
  background: #f0542c;
  text-align: center;
}

.nav-litle .logo-box .logo {
  width: 3.5rem;
  width: 3rem;
}

.nav-litle .nav-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav-litle .bar1, .nav-litle .bar2, .nav-litle .bar3 {
  width: 30px;
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
  margin: 7px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.nav-litle .change.bar1 {
  -webkit-transform: translate(-10px, 10px) rotate(45deg);
          transform: translate(-10px, 10px) rotate(45deg);
}

.nav-litle .change.bar2 {
  opacity: 0;
}

.nav-litle .change.bar3 {
  -webkit-transform: translate(-8px, -7px) rotate(-45deg);
          transform: translate(-8px, -7px) rotate(-45deg);
}

.showNav {
  height: 257px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navlinks {
  list-style: none;
  background: #ffffff;
  margin: .8rem 2rem;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  height: 0;
  overflow: hidden;
}

.navlinks li {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navlinks li:hover {
  background: #333333;
}

.navlinks li:hover a {
  padding-left: 3rem;
  color: #f0542c;
}

.navlinks a {
  padding: .7rem;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.nav-icons {
  display: none;
}

.number {
  display: none;
}

.btn-directions {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-button {
    display: none;
  }
  .nav-litle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
    height: auto;
    padding: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navlinks a {
    color: #ffffff;
    padding: 0;
    margin-right: 1.5rem;
  }
  .navlinks li {
    color: #ffffff;
  }
  .navlinks li:hover {
    background: transparent;
    padding: 0;
  }
  .navlinks li:hover a {
    padding: 0;
    color: #f2c64d;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #f2c64d;
  }
  .nav-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-item-align: center;
        align-self: center;
    list-style-type: none;
  }
  .nav-icons li {
    padding-left: 1rem;
    font-size: 1rem;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .nav-icons li:hover {
    color: #f2c64d;
  }
  .number {
    display: block;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border: 2px solid #f2c64d;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 1rem;
    margin-left: 2rem;
    border-radius: 2rem;
    color: #f2c64d;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .6rem 2rem;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .number:hover {
    background: #f2c64d;
    color: #ffffff;
  }
}

.menu {
  background: url("../images/menubcg.jpg") center/cover no-repeat;
  width: 100%;
}

.menu-center {
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem;
}

.menu-center .show-menu {
  font-family: "Courgette", cursive;
  color: #f2c64d;
  font-size: 2rem;
}

.menu-center .show-menu .m {
  font-size: 2.8rem;
  font-weight: lighter;
}

.menu-center .menu-title {
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  color: #333333;
  font-size: 2rem;
  font-weight: bolder;
  padding: 1.5rem;
}

.menu-center .all-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 2rem;
  padding-bottom: 3rem;
  grid-gap: 2rem;
}

.menu-center .all-menu .single-menu {
  text-align: center;
}

.menu-center .all-menu .single-menu .burgerImg {
  width: 166px;
  height: 166px;
  border-radius: 100%;
  display: block;
}

.menu-center .all-menu .single-menu .single-title {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 1rem;
}

.menu-center .all-menu .single-menu .img-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.menu-center .all-menu .single-menu .menu-text {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: lighter;
}

.menu-center .all-menu .single-menu .menu-price {
  color: #f0542c;
  font-size: 1.5rem;
  font-weight: bolder;
}

.menu-center .menu-btn {
  display: block;
  text-decoration: none;
  color: #f0542c;
  border: 1px solid #f0542c;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu-center .menu-btn:hover {
  background: #f0542c;
  color: #ffffff;
}

@media screen and (min-width: 800px) {
  .menu-center .menu-title {
    font-size: 3rem;
  }
  .menu-center .all-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu-center .all-menu .single-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-center .all-menu .menu-info {
    text-align: left;
    padding-left: 2rem;
  }
  .menu-center .all-menu .single-title {
    padding: 0;
  }
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background: url("../images/headerbcg-2.jpg") center/cover fixed no-repeat;
  width: 100%;
  height: 100vh;
}

header .deal {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header .header-title {
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: -4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-animation: animHeader 3s ease-in;
          animation: animHeader 3s ease-in;
}

header .maxican {
  font-family: "Courgette", cursive;
  color: #f2c64d;
  font-size: 4rem;
  font-weight: lighter;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-animation: animMaxican 3s ease-in;
          animation: animMaxican 3s ease-in;
}

header .maxican .m {
  font-size: 7rem;
}

@-webkit-keyframes animHeader {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animHeader {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  50% {
    -webkit-transform: translateX(-1100px);
            transform: translateX(-1100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes animMaxican {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateX(1100px);
            transform: translateX(1100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes animMaxican {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  50% {
    -webkit-transform: translateX(1100px);
            transform: translateX(1100px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media screen and (min-width: 700px) {
  header .header-title {
    font-size: 5rem;
    margin-bottom: -7rem;
  }
  header .maxican {
    font-size: 7rem;
  }
  header .maxican .m {
    font-size: 13rem;
  }
  header .deal {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 992px) {
  header .btn-directions {
    display: block;
  }
  header .btn-left {
    color: #ffffff;
    background: #333333;
    text-align: center;
    font-size: 1.2rem;
    height: 6rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  header .btn-left:hover {
    background: #ffffff;
    color: #333333;
  }
  header .btn-right {
    color: #ffffff;
    background: #333333;
    text-align: center;
    font-size: 1.2rem;
    height: 6rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  header .btn-right:hover {
    background: #ffffff;
    color: #333333;
  }
}
