$semi-transition: all 1s;
$font-text: 'Roboto', sans-serif;
$primary-color:#f0542c;
$primary-white:#ffffff;
$primary-fontColor:#333333;

.footer{
background: url('../images/menubcg.jpg') center/cover no-repeat;
padding: 3rem 1rem 1rem 1rem;
text-align:center;
margin-top: 3rem;
.footer-center{
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 4rem;
}
.address-section{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  grid-gap: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}
.address-title{
  padding: 1rem 0.5rem;
  font-size: 1.8rem;

}
.address-text{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: lighter;
  padding: .6rem;
}
.phone-number{
  padding: 1rem 0.2rem;
  color: $primary-color;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
form{
  display: block;
  position: relative;

input[type=email]{
  width: 100%;
  border: 1px solid rgb(196, 192, 192);
  padding: 1.2rem;
  border-radius: 2rem;
  background: #f5fbff;
  &::placeholder{
    font-size: 1rem;
   ;
  }
}
 button{
   position: absolute;
 border: none;
 background: $primary-color;
 color: $primary-white;
 font-size: 1rem;
   right: 0;
   padding: .7rem 1.4rem;
   margin: .5rem .7rem;
   border-radius: 2rem;
   
 }
}
.footer-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
  .footer-icon{
    display: block;
    margin-left: 2rem;
    font-size: 1.3rem;
    color: $primary-color;
    border: 1px dashed $primary-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
    position: relative;
    transition: $semi-transition;
    &:hover{
      background: $primary-color;
      color: $primary-white;
    }
    i{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      position: absolute;
    }
  
  }
}
.copyright{
  padding-top: 2rem;
  border-top: 1px solid rgb(196, 192, 192);
}
}
