

$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;
$semi-transition: all 1s;

.gallery{
  padding: 4rem 0;
}
.gallery-center{
  text-align: center;
  .show-menu{
    font-family: $font-cursive;
    color: $primary-yellow;
    font-size: 2rem;
    .m{
      font-size: 2.8rem;
      font-weight: lighter;
    }
  }
  .menu-title{
    text-transform: uppercase;
    font-family: $font-title;
    color: $primary-fontColor;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1.5rem;
    overflow: hidden;
  }
  .gallery-container{
    padding-top: 3rem;
    display: grid;
    grid-gap: .6rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 'gallery1 gallery1 gallery2 gallery3'
                        'gallery4 gallery5 gallery6 gallery6';
  }
  .gallery-box{
    position: relative;
    background: rgba(165, 59, 45, 0.733);
    transition: $semi-transition;
    overflow: hidden;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 4rem;
      color: #e4dcdc;
      transform: scale(3);
      opacity: 0;
      transition: $semi-transition;

    }
    .gallery-image{
      display: block;
      transform: scale(1.1);
      transition: $semi-transition;
    }
    &:hover{
      .gallery-image{
        opacity: 0.4;
        transform: scale(1);
      }
      .gallery-icon{
        transform: scale(1.5);
        opacity: 1;
        transform: translate(-50%,-50%);
      }
    }
  }
  .gallery1{
    grid-area: gallery1;
  }
  .gallery2{
    grid-area: gallery2;
  }
  .gallery3{
    grid-area: gallery3;
  }
  .gallery4{
    grid-area: gallery4;
  }
  .gallery5{
    grid-area: gallery5;
  }
   .gallery6{
    grid-area: gallery6;
  }
  
  @media screen and (max-width:900px){
    .gallery-container{
      grid-template-columns: repeat(4,1fr);
      grid-template-areas: 'gallery1 gallery1 gallery2 gallery2'
                          'gallery3 gallery3 gallery4 gallery4'
                          'gallery5 gallery5 gallery6 gallery6';
  }

  }
  @media screen and (max-width:500px){
    .gallery-container{
      grid-template-columns: repeat(4,1fr);
      grid-template-areas: 'gallery1 gallery1 gallery1 gallery1'
                          'gallery2 gallery2 gallery2 gallery2'
                          'gallery3 gallery3 gallery3 gallery3'
                          'gallery5 gallery5 gallery5 gallery5'
                          'gallery4 gallery4 gallery4 gallery4'
                          'gallery6 gallery6 gallery6 gallery6';

  }

  }

}

/* ligthbox */

.modal-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7) !important;
  display: none;

  .modal-holder {
    position: relative;
     max-width: 1170px;
     margin: 0 auto;
     padding: 3rem;
    
     .modal-item {
       display: block;
      min-height: 70vh;
      width: 100%;
      // background: url("../images/gallery-1.jpg") center/cover fixed no-repeat;
      border-radius: 0.3rem;
    }
    .modal-close {
      color: $primary-color;
      font-size: 3rem;
      transition: all 1s ease-in-out;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      margin-bottom: .3rem;
    }
    .modal-close:hover {
      color: $primary-white;
    }
    
    .modal-control {
      position: absolute;
      font-size: 4rem;
      color: $primary-color;
      transition: all 1s linear;
      cursor: pointer;
    }
    .modal-control:hover {
      color: $primary-white;
    }
    .mbtnLeft {
      top: 50%;
      left: 0;
      // transform: translateX(-7%);
    }
    .mbtnRight {
      top: 50%;
      right: 0;
      // transform: translateX(7%);
    }
 }
 

}
.showModal {
  display: block;
}

