$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;



.menu{
  background: url('../images/menubcg.jpg')center/cover no-repeat;
  width: 100%;
  .menu-center{
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem;
  }
  .show-menu{
    font-family: $font-cursive;
    color: $primary-yellow;
    
    font-size: 2rem;
  
  }
}