$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;
$main-transition: all 2s ease;
$semi-transition: all 1s;

// mixins for alink
@mixin alinks($textColor){
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  transition: $semi-transition;
  font-family: $font-text;
  color: $textColor;

}
//fixed
.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:$primary-black ;
  box-shadow: -2px 15px 11px -6px rgba(0,0,0,0.75);
  transition: $semi-transition;
  z-index: 2;
 }

//  logo and button
.nav-litle{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;

  .logo-box{

    width: 6rem;
    border-radius: 5px;
    background: $primary-color;
    text-align: center;
    // padding: .2rem 0;
    .logo{
      width: 4rem;
   
    }

  }
  .nav-button{
    align-self:center;
    cursor: pointer;
  }
  .bar1,.bar2,.bar3{
    width: 30px;
    height: 4px;
    background: $primary-white;
    border-radius: 2px;
    margin: 7px;
    transition: $semi-transition;
 
}

}
//  end logo and button

// navLinks 


.navlinks{
  list-style: none;
  background: $primary-white;
  // padding: 1rem;
  margin: .8rem 2rem;
  transition: $main-transition;
  height: 0;
  overflow: hidden;
  z-index: 5;
  li{
    width: 100%; 
    transition: $semi-transition;
    &:hover{
      background: $primary-fontColor ;
        a{
          padding-left: 3rem;
          color: $primary-color;
        }
      }
     
    }
      a{
      padding:.7rem;
      // includes anchor tag mixin
         @include alinks($primary-fontColor);
         
    }
   } 

   .shownav{
    height: 205px;
    border-radius: 5px;

  }
  .change .bar1{
    transform: translate(-8px,10px) rotate(45deg);
  }
  .change .bar2{
    opacity: 0;
  }
  .change .bar3{
    transform: translate(-8px,-11px) rotate(-45deg);
  }
   .nav-icons{
     display: none;
   }
   .number{
     display: none;
   }
   .btn-directions{
     display: none;
   }
  
    
  //   Big screen
     @media screen and (min-width:992px){
       .nav-container{
       display: flex;
       justify-content: space-between;
       color: $primary-white;
       flex-direction: row;
       }
       .nav-button{
         display: none;
       }
     
       .nav-litle{
         order: 1;
       }
      
       .navlinks{
         display: flex;
         background: transparent;
         height: auto;
         padding: 0;
         order:0 ;
         justify-content: center;
         align-items: center;
          
         a{
           color: $primary-white;
           padding: 0;
           margin-right: 1.5rem;  
         }
        
         li{
          color: $primary-white;
       
           &:active,&:hover{
            background: transparent;
            padding: 0;
            a{
              padding: 0;
              color: $primary-yellow;
              padding-bottom: 0.2rem;
              border-bottom: 2px solid $primary-yellow;
            }
           }
         }
       }
       .nav-icons{
         display: flex;
         justify-content: center;
         align-items: center;
         order: 3;
         align-self: center;
         list-style-type: none;
         li{
           padding-left: 1rem;
           font-size: 1rem;
           transition: $semi-transition;
           &:hover{
             color: $primary-yellow;

           }
         }
       }
       .number{
         display: block;
         order: 4;
        //  width: 5rem;
        //  height: 2rem;
         border: 2px solid $primary-yellow;
         align-self: center;
         margin-right: 1rem;
         margin-left: 2rem;
         border-radius: 2rem;
         color: $primary-yellow;
         font-weight: bold;
         font-size: 1.2rem;
         padding: .6rem 2rem;
         transition: $semi-transition;
         &:hover{
          background: $primary-yellow;
          color: $primary-white;
         }
       }
       .active{
        color: $primary-yellow !important;
       padding-bottom: 0.2rem;
       border-bottom: 2px solid $primary-yellow;
      }
     }
   
  


  
