$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;

.nav-litle{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  .logo-box{

    width: 5rem;
    border-radius: 5px;
    background: $primary-color;
    text-align: center;
    // padding: .2rem 0;
    .logo{
      width: 3.5rem;
      width: 3rem
    }

  }
  .nav-button{
    align-self:center;
    font-size: 2.5rem;
    color:$primary-white;
  }
}

.navlinks{
  list-style: none;
  background: $primary-white;
  padding: 1rem;
  margin: .8rem 2rem;
 
  li{
    width: 100%;
    a{
      display: block;
      padding: .7rem;
      text-decoration: none;
      font-size: 1.5rem;
      color: $primary-fontColor;

    }
  }
  

}