$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;
$main-transition: all 2s ease;
$semi-transition: all 1s;


.testimonial{
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  .testi-center{
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
  
  .show-menu{
    font-family: $font-cursive;
    color: $primary-yellow;
    font-size: 2rem;
  }
  .menu-title{
    text-transform: uppercase;
    font-family: $font-title;
    color: $primary-fontColor;
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 1.5rem;
  }
.customer-text{
  padding-top: 1rem;
  font-size: 1rem;
  padding-bottom: 3rem;
  font-weight: lighter;
  line-height: 2rem;
}
.img-card{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.menu-center{
  margin: 0 auto;
  max-width: 1170px;
}
.customer-name{
  padding-top: 1rem;
  letter-spacing: .1rem;
  padding-bottom: .5rem;
}
.review-icon{
  color: $primary-yellow;
  font-size: .7rem;
}
.btnt{
  display: none;
}

@media screen and (min-width:800px){
  .menu-title{
    font-size: 2.5rem;
    }
    .btnt{
      display: block;
      
    }
    
    .prevBtnt{
      top:50%;
      left: 0;
      position: absolute;
      padding: 1rem;
      border: 1px solid #706c6c;
      transform: translate(50%,50%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: $semi-transition;
      color: #706c6c;
      .fas{
        transform: translate(-40%,-40%);
      }
      &:hover{
        background: #706c6c;
        color: $primary-white;
      }

    }
    .nexBtnt{
      top:50%;
      right: 0;
      position: absolute;
      padding: 1rem;
      border: 1px solid #706c6c;
      transform: translate(-50%,50%);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transition: $semi-transition;
      color: #706c6c;
      .fas{
        transform: translate(-20%,-40%);
      }
      &:hover{
        background: #706c6c;
        color: $primary-white;
      }

    }
  
}
}
}