$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;
$main-transition: all 2s ease;
$semi-transition: all 1s;

.testimonial{
  padding-top: 4rem;
.cuctomer-card{
  padding:2rem;
}
.customer-text{
  padding-top: 1rem;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: lighter;
  line-height: 2rem;
}




  @media screen and (min-width:800px){
    .menu-title{
      font-size: 2.5rem;
      }
    }
}