
@import 'navbar';
@import 'menu';
@import 'special';
@import 'about';
@import 'video';
@import 'testimy';
@import 'instagram';
@import 'footer';

$primary-color:#f0542c;
$primary-yellow:#f2c64d;
$primary-white:#ffffff;
$primary-black:#000000;
$primary-fontColor:#333333;

$font-text: 'Roboto', sans-serif;
$font-title:'Libre Baskerville', serif;
$font-cursive: 'Courgette', cursive;
$main-transition: all 2s ease;
$semi-transition: all 1s;

*,::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@mixin contextHeader($imageLocation){
  background: $imageLocation;
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  
  .menu-title{
    animation: none;
    font-family: $font-text;
    padding-top: 5rem;
    
  }

}
@mixin btn{
  color: $primary-white;
  background: $primary-fontColor;
  text-align: center;
  font-size: 1.2rem;
  height: 6rem;
  width: 3rem;
  &:hover{
    background: $primary-white;
    color: $primary-fontColor;
  }

 
}

body{
  font-family: $font-text;
}
//  Header style
header{
  background: url('../images/headerbcg-2.jpg')center/cover fixed no-repeat;
 width: 100%;
 height: 100vh;

 .deal{
   color: $primary-white;
   font-family: $font-text;
   text-transform: capitalize;
   font-size: 2rem;
   text-align: center;
   font-weight: bold;
   padding: 1rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
 }
 .header-title{
   font-size: 2rem;
   font-family: $font-title;
   color: $primary-white;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: -4rem;
   margin-left:1rem;
   margin-right:1rem;
   animation: animHeader 3s ease-in;

 }
 .maxican{
   font-family: $font-cursive;
   color: $primary-yellow;
  //  margin-top: -8.5rem;
   font-size: 4rem;
   font-weight: lighter;
   text-align: center;
   margin-left:1rem;
  margin-right:1rem;
  animation: animMaxican 3s ease-in;
   .m{
     font-size: 7rem;
   }
 }
 @keyframes animHeader{
   0%{
     transform: translateX(100px);
   }
   50%{
       transform: translateX(-1100px);
      }
   100%{
    transform: translateX(0px);

   }
 }
 @keyframes animMaxican{
  0%{
    transform: translateX(-100px);
  }
  50%{
   transform: translateX(1100px);
  }
  100%{
   transform: translateX(0px);

  }
}

 @media screen and (min-width: 700px){
   .header-title{
    font-size: 5rem;
    margin-bottom: -7rem;
   }
   .maxican{
    font-size: 7rem;
    .m{
      font-size: 13rem;
    }
 }
 .deal{
  margin-top: 3rem;
   margin-bottom: 5rem;
 }
}
@media screen and (min-width: 992px){
.btn-directions{
  display: block;
}
.btn-left{
  @include btn;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
}
.btn-right{
  @include btn;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  }

}
}
// End header style

//  Menu page Header style

.menu-header{
  @include contextHeader(url('../images/special-2.jpg'));
}
.about-header{
  @include contextHeader(url('../images/headerbcg-1.jpg'));
}
.contact-header{
  @include contextHeader(url('../images/headerbcg-3.jpg'));
}